.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100vh; /* This makes the container take up the full height of the viewport */
  margin: 0 auto; /* This centers the content horizontally */

}
